body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}
.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 450px; /* Önceki 350px idi, genişletildi */
    text-align: center;
}
input, select, button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
button {
    background-color: #28a745;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border: none;
    font-weight: bold;
}
button:hover {
    background-color: #218838;
}
#message {
    margin-top: 15px;
    color: #d9534f;
    font-weight: bold;
}