/* Genel Ayarlar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f7fa;
    color: #333;
    line-height: 1.6;
    padding: 20px;
} 
body {
    background-image: url('/static/images/araba.png');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    color: #fff;
    height: 100vh;
    margin: 0; /
}


h1, h2, h3 {
    color: #000000;
    margin-bottom: 20px;
}

/* Form Elemanları */
input[type="text"], input[type="password"], input[type="email"], button {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, button:focus {
    border-color: #3498db;
    outline: none;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

/* Container */
.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Link ve Diğer Stil */
a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Responsive Tasarım */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    .container {
        width: 100%;
        padding: 15px;
    }

    input[type="text"], input[type="password"], input[type="email"], button {
        width: 100%;
    }
}
