<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Müşteri Kayıt</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='customer.css') }}">
    <script>
        function registerCustomer() {
            const plate = document.getElementById('licensePlate').value;
            const carType = document.getElementById('carType').value;
            const fuelType = document.getElementById('fuelType').value;
            
            fetch('/register_car', {  // `register_customer` yerine `register_car` olacak
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({ plate: plate, car_type: carType, fuel_type: fuelType }) // "license_plate" yerine "plate"
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('message').innerText = data.message;
            });
        }
    </script> 
</head>
<body>
    <div class="container">
        <h1>Müşteri Kayıt</h1>
        
        <h2>Araç Bilgileri</h2>
        <input type="text" id="licensePlate" placeholder="Araç Plakanız">
        
        <h3>Araç Tipi</h3>
        <select id="carType">
            <option value="">Lütfen Seçiniz</option>
            <option value="Otomobil">Otomobil</option>
            <option value="Motosiklet">Motosiklet</option>
            <option value="Motosiklet">Kamyon</option>
        </select>
        
        <h3>Yakıt Tipi</h3>
        <select id="fuelType">
            <option value="">Lütfen Seçiniz</option>
            <option value="Benzin">Benzin</option>
            <option value="Dizel">Dizel</option>
            <option value="LPG-CNG">LPG-CNG</option>
            <option value="Elektrik">Elektrik</option>
        </select>
        
        <button onclick="registerCustomer()">Kaydol</button>
        <button onclick="window.location.href='/parking_info'">Park Bilgisi</button>
        <p id="message"></p>
    </div>
</body>
</html>
